* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    width: 1000px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    color: white;
}

.slick-dots li {
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.slick-dots .slick-active {
    background-color: red;
    width: 5px;
    height: 5px;
}

.slick-arrow{
    background-color: orange;
}